@use "../../variables" as v;

.custom-radio {
  width: 31px;
  height: 31px;
  background: v.$color_pure_white;
  border: 1px solid v.$color_borders;

  display: inline-block;
  position: relative;

  flex: none;
  order: 0;
  flex-grow: 0;

  border-radius: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

.radio-label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.custom-radio:hover {
  border: 1px solid v.$color_blue;
  transition: ease-in-out border 0.2s;
}

.radio-input {
  margin: 0;
  width: 0;
  visibility: hidden;
}

.radio-input:checked + span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background: v.$color_blue;
  border: solid 8px rgba(52, 95, 246, 0.15);
  background-clip: padding-box;

  outline: none;
  transition: ease-in-out border 0.2s;
}

.radio-input:checked + span:after {
  opacity: 1;
}